.movie-card {
  padding: 30px;
  border: black solid 5px;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.overview {
  display: none;
}

.title {
  text-align: center;
  height: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.words {
  width: 100px;
  white-space: nowrap;
}

.image {
  align-items: center;
}
.btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: blue;
  font-size: larger;
  flex: 1;
  outline: none;
}
.card {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
}
