<div>
  <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
    <label for="searchTerm"></label>
    <input type="text" id="searchTerm" name="searchTerm" placeholder="Whattaya Wanna Watch?" ngModel />
    <button>Search</button>
  </form>
</div>
<div>
  <form #discoverForm="ngForm" (ngSubmit)="setDiscoverQueryParams(discoverForm)">
    <label for="genre">What's It Genre' Be?</label>
    <select name="genre" id="genre" ngModel>
      <option *ngFor="let genre of genres" value="{{ genre.id }}">{{
        genre.name
      }}</option>
    </select>

    <label for="rating">Whattaya rating for?</label>

    <input type="text" id="rating" name="rating" ngModel>
    <button>Leggo'</button>
  </form>
</div>