<section class="main-div">
  <div class="form-div">
    <form
      class="input-styly"
      #searchForm="ngForm"
      (ngSubmit)="search(searchForm)"
    >
      <label for="searchTerm"></label>
      <input
        class="input-styly"
        type="text"
        id="searchTerm"
        name="searchTerm"
        placeholder="Wanna' be watchin sumthin'"
        ngModel
      />
      <button class="btn">Search</button>
    </form>
    <form
      class="input-styly"
      #discoverForm="ngForm"
      (ngSubmit)="setDiscoverQueryParams(discoverForm)"
    >
      <label for="genre"></label>
      <select name="genre" id="genre" class="input-styly genre" ngModel>
        <option value="" selected>What's It Genre Be</option>
        <option *ngFor="let genre of genres" value="{{ genre.id }}">
          {{ genre.name }}
        </option>
      </select>

      <label for="rating"></label>
      <input
        class="input-styly"
        type="text"
        id="rating"
        name="rating"
        placeholder="Whattaya rating for?"
        ngModel
      />

      <button class="btn">Leggo'</button>
    </form>
  </div>
</section>
